<ul class="list-group list-unstyled shadow-sm">
    <li class="list-group-item active text-center fw-bold" aria-current="true">
        SÁCH THEO CHỦ ĐỀ
    </li>
    <li><a href="#" class="list-group-item list-group-item-action">Ngoại ngữ</a></li>
    <li><a href="#" class="list-group-item list-group-item-action">Công nghệ thông tin</a></li>
    <li><a href="#" class="list-group-item list-group-item-action">Luật</a></li>
    <li><a href="#" class="list-group-item list-group-item-action">Văn học</a></li>
    <li><a href="#" class="list-group-item list-group-item-action">Khoa học kỹ thuật</a></li>
    <li><a href="#" class="list-group-item list-group-item-action">Nông nghiệp</a></li>
    <li><a href="#" class="list-group-item list-group-item-action">Lịch sử, địa lý</a></li>
    <li><a href="#" class="list-group-item list-group-item-action">Kinh tế</a></li>
    <li><a href="#" class="list-group-item list-group-item-action">Nghệ thuật sống</a></li>
</ul>
