<ul class="list-group list-unstyled shadow-sm">
    <li class="list-group-item active text-center fw-bold" aria-current="true">
        SÁCH THEO NHÀ XUẤT BẢN
    </li>
    <li><a href="#" class="list-group-item list-group-item-action">Nhà xuất bản Trẻ</a></li>
    <li><a href="#" class="list-group-item list-group-item-action">NXB Thống kê</a></li>
    <li><a href="#" class="list-group-item list-group-item-action">Kim đồng</a></li>
    <li><a href="#" class="list-group-item list-group-item-action">Đại học quốc gia</a></li>
    <li><a href="#" class="list-group-item list-group-item-action">Văn hóa nghệ thuật</a></li>
    <li><a href="#" class="list-group-item list-group-item-action">Văn hóa</a></li>
    <li><a href="#" class="list-group-item list-group-item-action">Lao động - Xã hội</a></li>
    <li><a href="#" class="list-group-item list-group-item-action">Khoa Học & Kỹ Thuật</a></li>
</ul>